<% for(var i=0; i<data.length; i++) { %>
<div class="list" leave_time="<%= data[i].depart_time.slice(0, 5)%>" leave_time_type="2" origin_station="<%= data[i].starting_station %>" price="<%= data[i].ticket_price %>">
    <span id="s_origin_station" class="hide"></span>
    <span class="time"><%= data[i].depart_time.slice(0, 5)%></span>
    <span class="station">
        <div class="origin"><i class="icon"></i><%= data[i].starting_station %></div>
        <div class="departure"><i class="icon"></i><%= data[i].destination_station%></div>
    </span>
    <span class="type"><%= data[i].motorcycle_type %></span>
    <span class="price">
        <div class="currency_sign">¥</div>
        <div class="number"><%= data[i].ticket_price %></div>
    </span>
    <span class="operation">
    <% if(data[i].is_bookable === "0") { %>
        <div><a href="javascript:;"><input type="button" value="" class="train_none_btn"></a></div>
    <% } else { %>
    <a href="coach_detail.html?<%= window.location.search
                + '&depart_date=' + data[i].depart_date
                + '&depart_date_time=' + data[i].depart_date_time
                + '&depart_time=' + data[i].depart_time
                + '&departure_land=' + data[i].departure_land
                + '&destination_land=' + data[i].destination_land
                + '&destination_station=' + data[i].destination_station
                + '&extend_data1=' + data[i].extend_data1
                + '&extend_data2=' + data[i].extend_data2
                + '&is_bookable=' + data[i].is_bookable
                + '&motorcycle_type=' + data[i].motorcycle_type
                + '&operation_type=' + data[i].operation_type
                + '&site_code=' + data[i].site_code
                + '&starting_station=' + data[i].starting_station
                + '&ticket_price=' + data[i].ticket_price
                + '&train_number=' + data[i].train_number %>"><input type="button" class="query_book_btn" value="" onclick=""></a>
    <% } %>
    </span>
</div>
<% } %>