    <% for(var j=0; j < data.length; j++) { %>
<div class="summary">
  <span>订单号：<%= data[j].order_id %></span>
  <span>订单状态： <%= data[j].order_status_desc %></span>
  <span>预订时间：<%= data[j].order_time %></span>
</div>
<div class="journey_info">
  <h4>行程信息</h4>
  <div class="journey_header">
    <span class="order_num">取票单号</span>
    <span class="vehicle_num">车次</span>
    <span class="ends">出发/到达站</span>
    <span class="time">出发/到达时间</span>
  </div>
  <div class="info_details">
    <div class="per_order">
      <span class="order_num"><%= data[j].order_number %></span>
      <span class="vehicle_num"><%= data[j].order_ticket.train_number %></span>
      <span class="ends">
        <div class="origin"><%= data[j].order_ticket.from_station_name %></div>
        <div class="departure"><%= data[j].order_ticket.to_station_name %></div>
      </span>
      <span class="time">
        <div class="start"><%= data[j].order_ticket.start_time %></div>
        <div class="end"><%= data[j].order_ticket.arrive_time %></div>
      </span>
    </div>

  </div>
</div>
<div class="pay_info">
  <h4>支付信息</h4>
  <div>
    <span>支付金额: </span>
    <span class="price">￥300.00</span>
    <span>（票价: </span>
    <span class="price">￥<%= data[j].order_ticket.ticket_price %></span>
    <span>保险: </span>
    <span class="price">￥300.00</span>
    <span>凭证邮寄费</span>
    <span class="price">￥300.00</span>
    <span>）</span>
  </div>
  <div>
    <span>支付方式：</span>
    <span>支付宝</span>
  </div>
</div>
<div class="order_passenger_info">
  <h4>乘客信息</h4>
  <div class="passenger_header">
    <span class="name">姓名</span>
    <span class="passenger_type">乘客类型</span>
    <span class="credential_type">证件类型</span>
    <span class="credential_num">证件号码</span>
    <span class="seat_num">车厢/座位号</span>
    <span class="insurance">交通意外险</span>
    <span class="insurance_num">电子保单号</span>
    <span class="action">退改签</span>
  </div>
  <div class="passengers_list">
    <% for(var i=0; i < data[j].order_ticket_list.length; i++) { %>
    <div class="per_passenger">
      <span class="name"><%= data[j].order_ticket_list[i].contact_info.passenger_name %></span>
      <span class="passenger_type"><%= data[j].order_ticket_list[i].contact_info.passenger_type %></span>
      <span class="credential_type"><%= data[j].order_ticket_list[i].contact_info.card_type %></span>
      <span class="credential_num"><%= data[j].order_ticket_list[i].contact_info.passenger_card_no %></span>
      <span class="seat_num"><%= data[j].order_ticket_list[i].seat_number %></span>
      <span class="insurance">20元/保100W</span>
      <span class="insurance_num">1000000000</span>
      <span class="action"><input class="refund_btn pop_btn" type="button" value=""><input class="change_btn" type="button" value=""></span>
    </div>
    <% } %>
  </div>
</div>
<div class="order_contact_info">
  <h4>联系人信息</h4>
  <% for(var k=0; k < data[j].order_ticket_list.length; k++) { %>
  <div>
    <span >手机号码：</span>
    <span><%= data[j].order_ticket_list[k].contact_info.mobile_no%></span>
    <span class="label">姓名：</span>
    <span><%= data[j].order_ticket_list[k].contact_info.passenger_name%></span>
  </div>
  <% } %>
</div>
<div class="reimburse_info">
  <h4>报销凭证</h4>
  <div class="reimburse_header">
    <span class="name">收件人</span>
    <span class="cellphone">手机号码</span>
    <span class="address">邮寄地址</span>
    <span class="post_code">邮政编码</span>
  </div>
  <div class="reimburse_body">
    <span class="name">傅新刚</span>
    <span class="cellphone">136*****5187</span>
    <span class="address">湖南长沙市麓谷大道麓谷信息港B座101室</span>
    <span class="post_code">200000</span>
  </div>
</div>

<input class="back_to_orders" type="button" value="">
<% } %>